.App{
  background-color: lightgray;
}

.nav{
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
  font-weight: bold;
}
.navbar{
  height: 160px;
  background-color: #5964E0;
  padding-top: 0;
  text-align: center;
}

.jobs{
  padding-left: 70px;
  padding-right: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding-bottom: 50px;
}
.items{
  width: 350px;
  height: 228px;
  background-color: #FFFFFF;
  padding-left: 20px;
  border-radius: 10px;
  position: relative;
}
.pics{
  position: absolute;
  top: 1px;
}

.time{
  display: flex;
  gap: 10px;
  color: #6E8098;
}

.location{
  color: #5964E0;
}

.company{
  color: #6E8098;
}
